@model TrashCollector.Models.Customer
    
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="table">
        <div>
            <h4>Customer</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RoutinePickUp)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RoutinePickUp)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OnePickUp)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OnePickUp)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Start)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Start)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.End)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.End)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
            <a asp-action="Suspension" asp-route-id="@Model.Id">Set Service Hold</a>
            <a asp-action="OneTimePickUp" asp-route-id="@Model.Id">Set One Time Pick Up</a>
        </div>
    </div>
</body>
</html>
